.news_bar{
  width: 70%;
  height: 100%;
}
.news_title{
  text-align: center;
  color: #7de1e1;
  text-shadow: 1px 1px 4px #7de1e1;

}
.news_add_button{
  margin-top: 20px;
  width: 100%;
  border-color:#7de1e1;
}